@model Bookish.Models.Member;

@{
    ViewData["Title"] = "Member Details";
}

<div class="text-center">
        <p>@Model.FirstName</p>
        <p>@Model.Surname</p>
        <p>@Model.Address</p>
        <p>@Model.PhoneNumber</p>
        <p>@Model.Email</p>
</div>
