@model List<Bookish.ViewModels.BookAuthorModel>;

@{
    ViewData["Title"] = "Book Catalogue";
}

<div class="text-center">
    @foreach(var book in Model)
    {
        <p>@book.BookName</p>
        <p>@book.ISBN</p>
        <p>@book.AuthorFirstName @book.AuthorSurname</p>
        <p>@book.NumberOfCopies</p>
        <p>@book.AvailableCopies</p>
        <p>@book.Genre</p>
    }
</div>

